.container {
  width: 1256px;
  margin: auto;
}

.banner1 {
  border: 1px solid red;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #00bbff;
}

.banner1 img {
  height: 100%;
}
