body {
  font-family: sans-serif;
}

.container {
  max-width: 1256px;
  margin: auto;
}

.cr {
  cursor: pointer;
}

.relative {
  position: relative;
}

.mt {
  margin-top: 30px;
}
/*맨 위에 배너 ( close 클릭하면 사라지는)*/
.banner1 {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #00bbff;
  position: relative;
}

.banner1 img {
  height: 100%;
}

/*클릭하면 배너 사라지는 이벤트*/
.banner1 i {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: calc(50% - 15px);
  cursor: pointer;
}

/*맨 위 메뉴*/
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
}

.menu-bar {
  background-color: white;

  width: 100%;
  z-index: 5;
  transition: 0.8s;
}

.menu-bar-inner {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.top-ul-wrap ul {
  display: flex;
}

.top-ul-wrap ul li {
  margin-right: 25px;
  font-size: 18px;
  font-weight: bold;
}
.top-ul-wrap ul li:hover a {
  color: #00bbff;
}

.top-ul-wrap ul li:first-child a {
  color: #00bbff;
}

.menu-bar form {
  position: relative;
  right: -50px;
  border: 1px solid silver;
  display: inline-block;
  height: 100%;
  padding: 9px 40px;
  border-radius: 5px;
  white-space: nowrap;
}

.menu-bar form:hover {
  background-color: aliceblue;
}
.menu-bar form:hover input {
  background-color: aliceblue;
}

.fa-magnifying-glass {
  color: silver;
  position: relative;
  left: -20px;
}

.menu-bar form input {
  width: 100%;
  border: none;
  outline: none;
}

.login_cart {
  display: flex;
  align-items: center;
  position: relative;
  right: -40px;
}

.login_cart > i:hover {
  color: #00bbff;
}

.login {
  display: flex;
}

.login li {
  margin-right: 5px;
}

.login li a {
  padding: 1.5px 10px;
  border-right: 0.5px solid rgb(214, 214, 214);
}

.login li:last-child a {
  border: none;
}

.menu-bar-inner button {
  padding: 12px 15px;
  border: none;
  color: white;
  background-color: #00bbff;
  font-size: 15px;
  border-radius: 5px;
}

/*서브 메뉴*/
.nav2 {
  width: 100%;
  border-top: 0.3px solid rgb(225, 225, 225);
  border-bottom: 0.3px solid rgb(225, 225, 225);
}

.nav2_inner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  white-space: nowrap;
}

.z-index {
  z-index: 3;
}

.nav2_sub {
  width: 80%;
  display: flex;
  top: 0;
  position: absolute;
  background-color: #ffffff;
}

.nav2_sub li {
  padding: 15px;
  margin-right: 5px;
  font-weight: 700;
}

.nav2_sub li:hover a {
  color: #00bbff;
}

.nav2_sub li:first-child {
  color: #00bbff;
}

.sub1 button {
  font-size: 10px;
  border: none;
  padding: 0 4px;
  color: #ffffff;
  background-color: #828c94;
  display: inline-block;
  font-weight: 700;
  height: 16px;
  line-height: 16px;
  border-radius: 4px;
  vertical-align: middle;
  margin-left: 3px;
}

.show_list_wrap {
  width: 150px;
  height: 30px;
  overflow: hidden;
}

.down_arrow {
  font-size: 13px;
  position: absolute;
  top: calc(50% - 6.5px);
  right: 0;
}

/* .show_list_inner ul {
  transition: 0.5s;
} */

.show_list_inner li {
  height: 30px;
  text-align: start;
  line-height: 30px;
  font-size: 13px;
}

.show_list_inner li span {
  font-weight: 700;
  margin-right: 20px;
  font-size: 17px;
}

.lank_wrap {
  background-color: #ffffff;
  position: absolute;
  box-shadow: 5px 5px 2px 2px rgb(0, 0, 0, 0.3);
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: 3;
  display: none;
  transition: display 1s;
}

.lank_wrap h4 {
  padding-left: 30px;
}

.up_arrow {
  padding: 10px;
}

.lank_wrap ul li {
  text-align: start;
  padding: 10px 30px;
}

.lank_wrap ul li:hover {
  background-color: rgb(234, 234, 235);
}

.lank_wrap li span {
  margin-right: 40px;
  font-weight: 700;
}

.lank_wrap li span:last-child {
  margin-right: 15px;
}

.nav2_inner b,
.nav2_inner small {
  margin-right: 10px;
}
.nav2_inner i {
  margin-left: 20px;
}

/*main banner*/

.arrow_wrap {
  transition: 0.3s;
}

.main_banner_inner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.main_banner1:hover img {
  transition: 0.3s;
  transform: scale(1.03);
}

.main_banner1 {
  width: 78%;
  height: 508px;
  position: relative;
  overflow: hidden;
}
.main_banner1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_banner1_text {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.main_banner1_text h1 {
  color: #f4f4f4;
  font-size: 25px;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.main_banner1_text p {
  color: #ffffff;
  display: inline-block;
  margin: 0;
}

.arrow_relative {
  position: relative;
  margin: 30px auto;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1.5px 5px 1px rgb(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 25px;
  line-height: 40px;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.arrow:hover {
  background-color: #f1f1f1;
}

.opacity {
  visibility: hidden;
  opacity: 0;
}

.arrow_right {
  top: calc(50% - 25px);
  right: -25px;
}

.arrow_left {
  top: calc(50% - 25px);
  right: calc(251.19px - 25px);
}

.main_banner2_wrap {
  width: 19%;
  height: 508px;
  position: relative;
  overflow: hidden;
}

.main_banner2_wrap ul li:hover img {
  transition: 0.3s;
  transform-origin: center;
  transform: scale(1.03);
}

.main_banner2_wrap ul {
  display: flex;
  width: 1758.33px;
  height: 508px;
  transition: 0.3s;
  margin-right: 700px;
}

.main_banner2_wrap li {
  width: 100%;
  height: 100%;
}

.main_banner2_wrap img {
  width: 100%;
  height: 100%;
}

.slider_count {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  padding: 5px 7px;
  color: #f1f1f1;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  right: 7px;
  bottom: 7px;
}

/*main menu*/
.main_menu {
}

.main_menu_inner {
}

.main_menu_inner ul {
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}

.main_menu_inner ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: -0.8px;
  font-size: 13px;
}

.main_menu_inner ul li img {
  width: 110px;
}

/*main-section1*/

.main_section1_inner > h3 {
  position: relative;
}

.main_section1_inner > h3 span {
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  color: #00bbff;
  font-size: 14px;
  letter-spacing: -1px;
}

.section1_box_wrap {
  display: flex;
  justify-content: space-between;
}

.section1_box {
  letter-spacing: -0.6px;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.section1_box i {
  position: absolute;
  top: 150px;
  right: 10px;
  z-index: 2;
  color: white;
  font-size: 24px;
}

.section1_box p {
  margin-top: 8px;
  width: 270px;
  overflow: hidden;
}

.section1_box span {
  font-weight: 600;
  color: #00bbff;
}

.section1_box img {
  width: 270px;
  height: 180px;
  object-fit: cover;
}

.section1_box img:hover {
  transition: 0.3s;
  transform-origin: center;
  transform: scale(1.03);
}

/*카테고리*/

.category_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.category_inner ul {
  display: flex;
  gap: 20px;
  width: 1564px;

  padding-right: 30px;
  transition: 0.5s;
}

.category_inner ul li {
  white-space: nowrap;
  text-align: center;
}

.category_inner ul li img {
  width: 72px;
  height: 72px;
}

.gradient_box {
  position: absolute;
  width: 72px;
  height: 100%;
  right: 0;
  background: rgb(255, 253, 253);
  background: linear-gradient(
    100deg,
    rgba(255, 253, 253, 0) 0%,
    rgba(255, 255, 255, 0.9976365546218487) 65%
  );
}

.cate_arrow_right {
  position: absolute;
  top: 50%;
  right: -25px;
  transition: 0.3s;
}

.cate_arrow_left {
  position: absolute;
  top: 50%;
  left: -25px;
  transition: 0.3s;
}

/*section2*/
.deal_btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 10px;
  color: #757575;
  background-color: #fafafa;
  outline: none;
  border-radius: 20px;
  margin-right: 20px;
}

.deal_btn:last-child:hover {
  background-color: #00bbff;
  color: white;
}

.deal_btn_wrap1 {
  width: 100%;
  display: block;
}

.today_deal_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.today_deal_inner h3 {
  display: block;
}

.today_deal_item_wrap {
  display: flex;
  justify-content: space-between;
}

.today_deal_item {
  width: 24%;
  margin-top: 20px;
}
.img_wrap {
  overflow: hidden;

  display: inline-block;
}

.today_deal_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.today_timer {
  color: white;
  background-color: tomato;
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.today_deal_item:hover img {
  transition: 0.3s;
  transform-origin: center;
  transform: scale(1.03);
}

.today_deal_item small {
  margin-top: 10px;
}
.today_deal_item span {
  color: #00bbff;
  font-size: 18px;
  margin-right: 10px;
}

.deal_btn_wrap2 {
  margin-top: 15px;
}

.deal_btn_wrap2 button {
  border: none;
  padding: 7px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
}

.deal_btn_wrap2 button:first-child {
  color: #71787e;
  margin-right: 10px;
}

.deal_btn_wrap2 button:last-child {
  color: white;
  background-color: tomato;
}
/*footer 부분*/
footer {
  background-color: #f4f4f4;
  font-size: 13px;
}

.footer_inner {
  display: flex;
  padding: 30px;
  color: #71787e;
}

.foot1 {
  padding-right: 70px;
  margin-right: 40px;
  border-right: 1px solid rgb(209, 209, 209);
}

.foot1 h3 {
  display: inline;
  color: black;
}

.foot1 i {
  font-size: 12px;
  color: black;
}

.foot1 h4 b {
  color: black;
}

.foot1 h4 span {
  font-weight: 400;
}

.foot1 ul li {
  line-height: 20px;
  font-size: 13px;
}

.foot1-btn {
  border: 1px solid rgb(225, 222, 222);
  padding: 6px;
  border-radius: 6px;
  white-space: nowrap;
}

.foot2 {
  white-space: nowrap;
  display: flex;
  border-right: 1px solid rgb(209, 209, 209);
}

.foot2_ul {
  margin-right: 30px;
}

.foot2_ul li {
  margin-bottom: 30px;
}

.foot2_ul b {
  color: black;
}

.foot3 {
  padding-left: 30px;
}

.foot3_box1 {
  margin-bottom: 10px;
}

.foot3_box2 {
  display: flex;
  font-size: 13px;
}

.foot-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-align:first-child {
  white-space: nowrap;
  margin-right: 20px;
}

.foot3_box2 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.foot3_box4 {
  margin: 10px auto;
}

.foot3_box4 ul {
  display: flex;
}

.foot3_box4 ul li {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
  color: #fafafa;
  background-color: #b9b9b9;
  margin: 15px 0px 15px 15px;
}

.top-btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: fixed;
  bottom: 3em;
  right: 3em;
  background-color: #ffffff;
}
