@media all and (max-width: 1200px) and (min-width: 1023px) {
  /*top nav*/
  .logo-wrap {
    margin-right: 30px;
  }

  .menu-bar-inner {
    justify-content: center;
    gap: 10px;
    font-size: 0.8em;
  }

  .menu-bar form {
    right: 0;
  }

  .login_cart {
    right: -10px;
  }

  .top-ul-wrap ul li {
    margin-right: 10px;
  }

  /*top sub nav*/
  .nav2_sub {
    width: 90%;
  }

  .nav2_inner {
    padding: 0 60px;
  }

  .show_list_inner ul {
    display: none;
  }

  .down_arrow {
    position: relative;
    left: 70px;
    line-height: 25px;
  }

  /*main banner*/
  .main_banner1 {
    width: 75%;
  }

  .main_banner2_wrap {
    width: 23%;
  }

  .main_menu_inner ul li img {
    width: 90px;
  }

  /*main section1*/

  .section1_box img,
  .section1_box p {
    width: 240px;
    font-size: 12px;
  }

  .section1_box i {
    font-size: 20px;
  }

  /*category menu slide*/
  .category_inner {
    width: 100%;
    margin: auto;
  }

  .category_inner ul li img {
    width: 60px;
    height: 60px;
    font-size: 12px;
  }

  .cate_arrow_right {
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .cate_arrow_left {
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  /*today Deal fetch 실패해서 안 떠 ㅠㅠ 나중에 확인*/
  .deal_btn {
    font-size: 13px;
  }

  /*footer*/
  footer {
    font-size: 11px;
    padding: 0 15px;
  }

  .foot3_box2 {
    font-size: 10px;
  }

  /*top btn*/
  .top-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
  body {
    border: 1px solid red;
  }

  /*top nav*/

  .menu-bar-inner {
    font-size: 0.9em;
  }

  .logo-wrap {
    margin-left: 10px;
  }

  .top-ul-wrap {
    margin-left: 10px;
  }

  .top-ul-wrap ul li {
    margin-right: 15px;
  }

  .login_cart {
    margin-left: 10px;
    right: 10px;
  }

  .login_cart ul li {
    margin-right: 15px;
  }

  .login_cart ul li a {
    padding: 0;
  }

  .menu-bar-inner form {
    display: none;
  }

  .write_btn {
    margin-right: 10px;
  }

  .write_arrow {
    display: none;
  }

  .nav2_sub {
    width: 100%;
    overflow-x: scroll;
  }

  /*main banner*/
  .main_banner_inner {
    max-width: 1023px;
    min-width: 768px;
    width: 90%;
  }

  .main_banner1 {
    border: 1px solid blue;
    width: 78%;
  }

  .arrow_relative {
    border: 1px solid black;
    width: 78%;
  }

  .main_banner2_wrap {
    border: 1px solid yellow;
    width: 251px;
  }

  /*category nav slide*/
  .main_menu_inner ul {
    overflow-x: scroll;
    justify-content: center;
  }

  .main_menu_inner ul li img {
    width: 80px;
  }
}

@media all and (max-width: 768px) and(min-width: 479px) {
}
